You received a new message from
=link_to "Mydan Services Inc.", root_url
%br
%br
  ="〈Name〉 #{@inquiry.name}"
%br
%br
  ="〈Tel〉 #{@inquiry.tel}"
%br
%br
  ="〈Email〉 #{@inquiry.email}"
%br
%br
  ="〈subject〉 #{@inquiry.subject}"
%br
%br
  ="〈text〉 #{@inquiry.text}"
%br
%br
