/ ======= Hero Section =======
%section#hero.d-flex.align-items-center
  .container.position-relative{"data-aos" => "fade-up", "data-aos-delay" => "500"}
    %h1 Welcome to Mydan Services
    %h2 Licensed Electrical Contracting
    %h3 Contact Us
    -# %p Contact Us
    = link_to "Call", "tel:14164185374", class: 'cta-btn'
    = link_to "Email", "mailto:miguel@mydanservices.com", class: 'cta-btn right'
%main#main
  / ======= About Section =======
  %section#about.about
    .container
      .row
        .col-lg-5.order-1.order-lg-2{"data-aos" => "fade-left"}
          %img.img-fluid{:alt => "", :src => "/img/worker.jpg"}/
        .col-lg-7.pt-4.pt-lg-0.order-2.order-lg-1.content{"data-aos" => "fade-right"}
          %h3 We are team of certified, licensed electricians serving the greater Toronto area.
          %p.font-italic
            With more than 30 years of experience in the technical field, Mydan Services Inc. has positioned itself as an industry leader.
            We work with industrial, commercial and residential customers, providing solutions for all electrical needs, including:
          %ul
            %li
              %i.bx.bx-check-circle
              Troubleshooting
            %li
              %i.bx.bx-check-circle
              Retrofits
            %li
              %i.bx.bx-check-circle
              New Wiring
            %li
              %i.bx.bx-check-circle
              Service Upgrades
            %li
              %i.bx.bx-check-circle
              Equipment and Motor Repair
          %ul
            %li
              %i.bx.bx-check-circle
              Equipment Re-Location
            %li
              %i.bx.bx-check-circle
              Fiber Optic Wiring and Terminations
            %li
              %i.bx.bx-check-circle
              Security Systems
            %li
              %i.bx.bx-check-circle
              Camera System Installation
          %p
            Our experience, knowledge, dedication, and excellent customer service is your guarantee for fast, effective and reliable service.
            We are an innovative company that will find safe, cost-effective, and reliable solutions to any problem.
            We are fully insured and licensed by the Electrical Safety Authority.
  / ======= Why Us Section =======
  -# %section#why-us.why-us
  -#   .container
  -#     .row
  -#       .col-lg-12{"data-aos" => "fade-up"}
  -#         .box
  -#           -# %span Clients
  -#           %h4 Clients
  -#           %p add "js modal" here and open clients logos
  / ======= Clients Section =======
  %section#clients.section-top-none
    .clients
      .container
        .section-title{"data-aos" => "zoom-in"}
          %span Clients
          %h2 Our Clients
      .container{"data-aos" => "zoom-in"}
        .row.d-flex.align-items-center
          .col-lg-2.col-md-4.col-6
            %img.img-fluid{:alt => "", :src => "img/clients/client-1.png"}/
          .col-lg-2.col-md-4.col-6
            %img.img-fluid{:alt => "", :src => "img/clients/client-2.png"}/
          .col-lg-2.col-md-4.col-6
            %img.img-fluid{:alt => "", :src => "img/clients/client-3.png"}/
          .col-lg-2.col-md-4.col-6
            %img.img-fluid{:alt => "", :src => "/img/clients/client-4.png"}/
          .col-lg-2.col-md-4.col-6
            %img.img-fluid{:alt => "", :src => "/img/clients/client-5.png"}/
          .col-lg-2.col-md-4.col-6
            %img.img-fluid{:alt => "", :src => "/img/clients/client-6.png"}/
  / ======= Services Section =======
  %section#services.services.section-top-none
    .container
      .section-title
        %span Services
        %h2 Services
        %p ???
      .row
        .col-lg-4.col-md-6.d-flex.align-items-stretch{"data-aos" => "fade-up"}
          .icon-box
            .icon
              %i.bx.bx-building-house
            %h4 Residential
            .box-hover
              %p Renovations<br>Custom Homes<br>Panel Upgrades<br>Potlights<br>Troubleshooting<br>Lighting Installation<br>Ganerators<br>Electric Vehicle Charger Startion<br>Home Inspection<br>Pools + Hot Tubs
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0{"data-aos" => "fade-up", "data-aos-delay" => "150"}
          .icon-box
            .icon
              %i.bx.bx-world
            %h4 Commercial
            .box-hover
              %p Renovations<br>Maintenance<br>Troubleshooting<br>Disconnects<br>Transformers<br>Machine Installation<br>Lighting
        .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0{"data-aos" => "fade-up", "data-aos-delay" => "300"}
          .icon-box
            .icon
              %i.bx.bxs-factory
            %h4 Industrial
            .box-hover
              %p Troubleshooting and Repairs<br>Maintenance<br>Power Saving Solutions<br>Service Installations Upgrades<br>Lighting<br>Additions / Renovations
  / ======= Portfolio Section =======
  %section#portfolio.portfolio
    .container
      .section-title
        %span See Some of Our Latest Work
        %h2 See Some of Our Latest Work
        %p
      .row{"data-aos" => "fade-up"}
        .col-lg-12.d-flex.justify-content-center
          %ul#portfolio-flters
            %li.filter-active{"data-filter" => "*"} All
            %li{"data-filter" => ".filter-residential"} Residential
            %li{"data-filter" => ".filter-commercial"} Commercial
            %li{"data-filter" => ".filter-industrial"} Industrial
      .row.portfolio-container{"data-aos" => "fade-up", "data-aos-delay" => "150"}
        .col-lg-4.col-md-6.portfolio-item.filter-residential
          %img.img-fluid{:alt => "", :src => "/img/residential-01.jpg"}/
          .portfolio-info
            -# %h4 Residential 1
            -# %p Residential
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-01.jpg", :title => "Residential 1"}
              %i.bx.bx-plus
            -# %a.details-link{:href => "portfolio-details.html", :title => "More Details"}
            -#   %i.bx.bx-link
        .col-lg-4.col-md-6.portfolio-item.filter-residential
          %img.img-fluid{:alt => "", :src => "/img/residential-02.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-02.jpg", :title => "Residential 2"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-residential
          %img.img-fluid{:alt => "", :src => "/img/residential-15.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-15.jpg", :title => "Residential 3"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-card
          %img.img-fluid{:alt => "", :src => "/img/residential-12.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-12.jpg", :title => "Card 2"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-web
          %img.img-fluid{:alt => "", :src => "/img/residential-16.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-16.jpg", :title => "Card 2"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-app
          %img.img-fluid{:alt => "", :src => "/img/residential-11.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-11.jpg", :title => "App 3"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-card
          %img.img-fluid{:alt => "", :src => "/img/residential-14.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "/img/residential-14.jpg", :title => "Card 1"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-card
          %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-8.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-8.jpg", :title => "Card 3"}
              %i.bx.bx-plus
        .col-lg-4.col-md-6.portfolio-item.filter-web
          %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-9.jpg"}/
          .portfolio-info
            %a.venobox.preview-link{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-9.jpg", :title => "Web 3"}
              %i.bx.bx-plus
  / ======= Cta Section =======
  %section#cta.cta
    .container{"data-aos" => "zoom-in"}
      .text-center
        %h3 Contact Us
        %p Give us a call to discuss your electrical needs
        = link_to "Call", "tel:14164185374", class: 'cta-btn'
        -# = link_to "Email", "mailto:miguel@mydanservices.com", class: 'cta-btn'
  / ======= Team Section =======
  %section#team.team
    .container
      .section-title
        %span Team
        %h2 Team
        %p Meet Our Team!
      .row
        .col-lg-6.col-md-6.d-flex.align-items-stretch{"data-aos" => "zoom-in"}
          .member
            -# %img{:alt => "", :src => "assets/img/team/team-1.jpg"}/
            %h4 Miguel Brodsky
            %span Master Electrician, Founder of Mydan Services
            %p
              With over 30 years of experience in multiple technical modalities including electrical, mechanical, pneumatics, hydraulics, electronics and controls, Miguel has been servicing different types of industries as well as commercial and residential customers.
              Miguel’s motivation is to provide the most effective solution for each customer.
            .social
              -# %a{:href => ""}
              -#   %i.icofont-twitter
              -# %a{:href => ""}
              -#   %i.icofont-facebook
              -# %a{:href => ""}
              -#   %i.icofont-instagram
              -# %a{:href => ""}
              -#   %i.icofont-linkedin
        .col-lg-6.col-md-6.d-flex.align-items-stretch{"data-aos" => "zoom-in"}
          .member
            -# %img{:alt => "", :src => "assets/img/team/team-2.jpg"}/
            %h4 Tom Hunt
            %span Red Seal Electrician
            %p
              After a previous career in retail fraud, Tom brings experience in security and customer service. He has over 6 years experience in the electrical field and specializes in residential builds and retrofits. Tom started his electrical career with Mydan Services.
              Tom's motiviation is to make sure every customer is satisfied.
            .social
              -# %a{:href => ""}
              -#   %i.icofont-twitter
              -# %a{:href => ""}
              -#   %i.icofont-facebook
              -# %a{:href => ""}
              -#   %i.icofont-instagram
              -# %a{:href => ""}
              -#   %i.icofont-linkedin
  / ======= Contact Section =======
  %section#contact.contact.section-top-none
    .container
      .section-title
        %span Contact
        %h2 Contact
        %p
      .row{"data-aos" => "fade-up"}
        .col-lg-6
          .info-box.mb-4
            %i.bx.bx-map
            %h3 Our Address
            %p 10-8707 Dufferin St., Suite 368, Vaughan, ON, L4J 0A6
        .col-lg-3.col-md-6
          .info-box.mb-4
            %i.bx.bx-envelope
            %h3 Email Us
            = link_to "miguel@mydanservices.com", "mailto:miguel@mydanservices.com"
            -# %p miguel@mydanservices.com
        .col-lg-3.col-md-6
          .info-box.mb-4
            %i.bx.bx-phone-call.bx-tada
            %h3 Call Us
            = link_to "416-418-5374", "tel:14164185374"
            -# %p 416-418-5374
      .row{"data-aos" => "fade-up"}
        .col-lg-6
          %iframe.mb-4.mb-lg-0{:allowfullscreen => "", :frameborder => "0", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20419.56450866527!2d-79.4922780652456!3d43.826873640156705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2ea5823ffffd%3A0x5b4d5973ee607341!2sMydan%20Services%20Inc.!5e0!3m2!1sja!2sca!4v1598283522672!5m2!1sja!2sca", :style => "border:0; width: 100%; height: 384px;"}
        .col-lg-6
          =form_with model: @inquiry, url: inquiry_home_index_path, method: :post, local: true, class: 'php-email-form' do |f|
            -# %form.php-email-form{:action => "forms/contact.php", :method => "post", :role => "form"}
            .form-row
              .col-md-6.form-group
                =f.text_field :name, placeholder: "Name", class: 'form-control'
                -# .validate
                -# %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
                -# .validate
              .col-md-6.form-group
                =f.text_field :tel, placeholder: "Tel", class: 'form-control'
                -# %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
                -# .validate
            .form-group
              =f.email_field :email, placeholder: "Email", class: 'form-control'
              -# %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
              -# .validate
            .form-group
              =f.text_area :text, placeholder: "Text us about anything!", rows: 5, class: 'textarea form-control'
              -# %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
              -# .validate
            -# .mb-3
            -#   .loading Loading
            -#   .error-message
            -#   .sent-message Your message has been sent. Thank you!
            .text-center
              =f.submit 'Send Message', class: 'button'
              -# %button{:type => "submit"} Send Message
