!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mydan
    %meta{:content => "", :name => "descriptison"}/
    %meta{:content => "", :name => "keywords"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / Favicons
    %link{:href => "assets/img/favicon.png", :rel => "icon"}/
    %link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    -# / Vendor CSS Files
    -# %link{:href => "assets/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/vendor/icofont/icofont.min.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/vendor/boxicons/css/boxicons.min.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/vendor/venobox/venobox.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/vendor/owl.carousel/assets/owl.carousel.min.css", :rel => "stylesheet"}/
    -# %link{:href => "assets/vendor/aos/aos.css", :rel => "stylesheet"}/
    -# / Template Main CSS File
    -# %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    /
      \=======================================================
      * Template Name: Day - v2.1.0
      * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      \========================================================
  %body
    =render 'header'
    -if notice.present?
      #message.fixed-top
        .container
          %p.notice.alert.alert-dark.notice-grey.alert-dismissible.fade.show{:role => "alert"}
            =notice
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
    = yield
    =render 'footer'
    %a.back-to-top{:href => "#"}
      %i.bx.bxs-chevron-up
    -# #preloader
    = javascript_include_tag "application"
    -# %script{:src => "assets/vendor/jquery/jquery.min.js"}
    -# %script{:src => "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"}
    -# %script{:src => "assets/vendor/jquery.easing/jquery.easing.min.js"}
    -# %script{:src => "assets/vendor/php-email-form/validate.js"}
    -# %script{:src => "assets/vendor/isotope-layout/isotope.pkgd.min.js"}
    -# %script{:src => "assets/vendor/venobox/venobox.min.js"}
    -# %script{:src => "assets/vendor/owl.carousel/owl.carousel.min.js"}
    -# %script{:src => "assets/vendor/aos/aos.js"}
    -# / Template Main JS File
    -# %script{:src => "assets/js/main.js"}
